@import './base.css';

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: blue;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1281px) {
  #app {
    max-width: 100vw;
  }
}
